# The name of the application
APP_NAME=LineBot

# The current environment of the application
# Options: development, staging, production
APP_ENV=development

# The port number where the application is running
PORT=3000

# The secret key used for encrypting and decrypting data
LINE_BOT_DATABASE_URL=postgresql://lineBotUser:lineBotPassword@localhost/line_bot_db
